body {
    background-color: #030303;
}

img {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#meme {
    cursor: pointer;
    background-color: plum;
    color: black;
    border-radius: 7px;
    outline: 0;
    border: 0;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
    bottom: 20px;
    z-index: 900;
    padding: 11px 42px;
}